* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.form {
    margin: 5rem auto 4rem auto;
}

.form label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: .5px;
    color: #444;
    margin-bottom: .5rem;
}

.form .form-row {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.form .form-row:last-child {
    margin-bottom: 0;
}

.form input[type=text],
.form input[type=email],
.form input[type=tel],
.form textarea,
.form .checkbox-cnt .state {
    //box-shadow:inset 0 1px 5px rgba(0,0,0,0.07);
}

.form input[type=text],
.form input[type=email],
.form input[type=tel],
.form textarea {
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: .5em;
}

.form input[type=text]:hover,
.form input[type=email]:hover,
.form input[type=tel]:hover,
.form textarea:hover {
    cursor: pointer;
}

.form input[type=text]:focus,
.form input[type=email]:focus,
.form input[type=tel]:focus,
.form textarea:focus {
    outline: 2px solid #00798f;
    outline-offset: .5rem;
}

.form textarea {
    height: 10rem;
}

.form .submit-btn {
    width: 16rem;
    height: 6.1rem;
    margin-top: 3.2rem;
    background-color: var(--color-bg-dark);
    color: var(--color-text-whitish);
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: -0.039rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    border: 2px solid var(--color-bg-dark);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.form .submit-btn:hover,
.form .submit-btn:focus {
    background-color: var(--color-button-transition);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    outline: none;
}

.form .submit-btn:active {
    border: 2px solid #fff;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
}

.form .checkbox-cnt {
    //padding-left:3rem;
    position: relative;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #444;
    cursor: pointer;
}

.form .checkbox-cnt:focus {
    outline: 2px solid #00798f;
    outline-offset: .5rem;
}

.form .checkbox-cnt .state {
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #aaa;
    background-color: transparent;
    border-radius: 0.2rem;
}

.form .checkbox-cnt .state:before {
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
    background: #00798f;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}

.form .checkbox-cnt .state:after {
    display: block;
    content: "";
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    position: absolute;
    left: -1px;
    top: -1px;
    outline: 2px solid #00798f;
    outline-offset: .5rem;
    opacity: 0;
}

.form .checkbox-cnt input:checked~.state:before {
    -webkit-animation: checkboxShowAnim 0.5s 1;
            animation: checkboxShowAnim 0.5s 1;
    opacity: 1;
}

.form .checkbox-cnt input:focus~.state:after {
    opacity: 1;
}

.form .checkbox-cnt input:checked~.state:after {
    opacity: 0;
}

.form .checkbox-cnt input {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    cursor: pointer;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.form input[type=text].error,
.form input[type=email].error,
.form input[type=tel].error,
.form textarea.error,
.form .checkbox-cnt input.error~.state {
    border-color: #ec0829;
}

.field-error {
    color: #ec0829;
    padding: 0.5rem 0;
    font-size: 1.1rem;
}

@-webkit-keyframes checkboxShowAnim {
    0% {
        border-radius: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0.2);
                transform: translate(-50%, -50%) scale(0.2);
    }

    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.2);
                transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes checkboxShowAnim {
    0% {
        border-radius: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0.2);
                transform: translate(-50%, -50%) scale(0.2);
    }

    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.2);
                transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
    }
}

.element-is-busy {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
}

.element-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.7);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
    content: '';
    -webkit-animation: rotateSingleLoading 0.3s infinite linear;
            animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 100;
}

@-webkit-keyframes rotateSingleLoading {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
                transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
                transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotateSingleLoading {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
                transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
                transform: translate(-50%, -50%) rotate(360deg);
    }
}

.form .send-error {
    display: inline-block;
    font-family: 'Alegreya', serif;
    font-size: 0.9rem;
    padding: 1rem 1.5rem;
    color: #ec0829;
}

.form-send-success {
    font-family: 'Alegreya', serif;
    font-size: 2rem;
    font-weight: bold;
    //border:1px solid #eee;
    color: #00798f;
    //background-color: white;
    margin: 2rem;
    //max-width:40rem;
}

.form-send-success strong {
    display: block;
    margin-bottom: 0.5rem;
}

.form-send-success span {
    font-size: 1.4rem;
    color: #333;
    font-weight: normal;
    display: block;
}

@media screen and (max-width:500px) {
    .form .submit-btn {}

    .form .send-error {
        text-align: center;
        display: block;
    }
}

.form-row.honey-row {}

.form label .contact__content__text__form__agreement__para {
    font-family: 'Merriweather', serif;
    font-size: 11px;
    line-height: 1.6;
    letter-spacing: -.1px;
    text-transform: none;
    text-align: justify;
}

.form label .contact__content__text__form__agreement__para:first-of-type {
    margin-top: 30px;
}