* {
    box-sizing: border-box;
}
.form {
    margin: 5rem auto 4rem auto;
}

.form label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.form .form-row {
    margin-bottom:1rem;
    display: flex;
    flex-direction: column;
}
.form .form-row:last-child {
    margin-bottom: 0;
}
.form input[type=text],
.form input[type=email],
.form input[type=tel],
.form textarea,
.form .checkbox-cnt .state {
    //box-shadow:inset 0 1px 5px rgba(0,0,0,0.07);
}
.form input[type=text],
.form input[type=email],
.form input[type=tel],
.form textarea {
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: .5em;
}
.form input[type=text]:hover,
.form input[type=email]:hover,
.form input[type=tel]:hover,
.form textarea:hover {
    cursor: pointer;
}
.form input[type=text]:focus,
.form input[type=email]:focus,
.form input[type=tel]:focus,
.form textarea:focus {
    outline: 2px solid #00798f;
    outline-offset: .5rem;
}
.form textarea {
    height:10rem;
}
.form label {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 400;
    color: #666;
    margin-bottom: .5rem;
}
.form .submit-btn {
    display: block;
    padding: .8rem 1.2rem;
    margin-top: 2rem;
    border: none;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #ec0829;
}
.form .submit-btn:hover {
    background: #A60E0E;
    cursor: pointer;
}
.form .checkbox-cnt {
    padding-left:3rem;
    position: relative;
    font-weight: normal;
    font-size:1.4rem;
    line-height: 2rem;
    color:#444;
    cursor: pointer;
}

.form .checkbox-cnt input:focus {
    outline: 2px solid #00798f;
    outline-offset: .5rem;
}

.form .checkbox-cnt .state {
    width:2rem;
    height: 2rem;
    display: block;
    position: absolute;
    left:0;
    top:0;
    border:1px solid #aaa;
    background-color: transparent;
    border-radius:0.2rem;
}
.form .checkbox-cnt .state:before {
    width:1rem;
    height: 1rem;
    border-radius:0.2rem;
    background: #00798f;
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    content:'';
    transform:translate(-50%, -50%) scale(1);
    opacity:0;
}
.form .checkbox-cnt input:checked ~ .state:before {
    animation: checkboxShowAnim 0.5s 1;
    opacity: 1;
}
.form .checkbox-cnt input {
    position:absolute;
    top:0; left:0;
    width:2rem;
    height: 2rem;
    z-index: 2;
    cursor:pointer;
    padding:0;
    margin:0;
    opacity: 0;
}
.form input[type=text].error,
.form input[type=email].error,
.form input[type=tel].error,
.form textarea.error,
.form .checkbox-cnt input.error ~ .state {
    border-color:#ec0829;
}
.field-error {
    color:#ec0829;
    padding:0.5rem 0;
    font-size:1.1rem;
}
@keyframes checkboxShowAnim {
    0%  { border-radius:50%; transform:translate(-50%, -50%) scale(0.2); }
    50% { transform:translate(-50%, -50%) scale(1.2); }
    100% { transform:translate(-50%, -50%) scale(1); }
}

.element-is-busy {
    position: relative;
    pointer-events: none;
    opacity:0.5;
}
.element-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:'';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 100;
}
@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.form .send-error {
    display:inline-block;
    font-family: sans-serif;
    font-size:0.9rem;
    padding:1rem 1.5rem;
    color:#ec0829;
}
.form-send-success {
    font-family: sans-serif;
    font-size:2rem;
    font-weight:bold;
    //border:1px solid #eee;
    color:#ec0829;
    //background-color: white;
    margin:3rem;
    //max-width:40rem;
}
.form-send-success strong {
    display:block;
    margin-bottom:0.5rem;
}
.form-send-success span {
    font-size:1.4rem;
    color:#333;
    font-weight:normal;
    display: block;
}
@media screen and (max-width:500px) {
    .form .submit-btn {
        display: block;
        width: 100%;
    }
    .form .send-error {
        text-align:center;
        display: block;
    }
}

.form-row.honey-row {

}

.form label .contact__content__text__form__agreement__para {
    font-family: 'Merriweather', serif;
    font-size: 11px;
    line-height: 1.6;
    letter-spacing: -.1px;
    text-transform: none;
    text-align: justify;
}

.form label .contact__content__text__form__agreement__para:first-of-type {
    margin-top: 30px;
}