:root {
  --color-bg-dark: #0b0923;
  --color-bg-white: #ffffff;
  --color-bg-grey: #ebebeb;

  --color-text-dark: #141b2d;
  --color-text-white: #fff;
  --color-text-whitish: #fefeff;
}

$bp-900: 56.25em; //900px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {

}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.8;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--color-text-dark);
  background-color: var(--color-bg-dark);
  max-width: 192rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 5rem;
}
