///// MIXINS

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin margin-top {
  margin-top: 5em;

  @media screen and (max-width: 600px) {
    margin-top: 2rem;
  }
}

@mixin padding-50 {
  padding: 5rem;

  @media screen and (max-width: 600px) {
    padding: 2rem;
  }
}

@mixin button {
  width: 24.8rem;
  height: 6.1rem;
  background-color: var(--color-bg-dark);
  color: var(--color-text-whitish);
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: -0.039rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 2px solid var(--color-bg-dark);
  transition: all .2s;

  &:hover,
  &:focus {
    background-color: var(--color-button-transition);
    transform: scale(1.05);
    outline: none;
  }

  &:active {
    border: 2px solid #fff;
    transform: translateY(1px);
  }
}

@mixin button-not-last {
  margin-right: 2.5rem;
  margin-bottom: 2rem;
}

button:hover {
  cursor: pointer;
}

@mixin button-link {
  @include link-reset;
  color: var(--color-text-whitish);
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: -0.039rem;
  line-height: 6.1rem;
  display: inline-block;
  height: 100%;
  padding: 0 0 0 3rem;
}

@mixin button-link-icon {
  margin-left: 1rem;
  vertical-align: middle;
}


@mixin localization-icons {
  text-align: center;
  color: var(--color-localization-icons);
  font-family: 'Alegreya', serif;
}

@mixin outline {
  outline: 2px solid var(--color-blue-effect);
  outline-offset: .5rem;
}

@mixin variantArrow {
  content: "›";
  position: absolute;
  left: -3rem;
  top: 50%;
  font-size: 5rem;
  line-height: 0;
  color: var(--color-blue-effect--lighter);
  transition: all .2s;
}



///// Classes

.title {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: var(--color-bg-dark);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.slogan {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 4rem;
  font-weight: 300;
  color: var(--color-text-slogan);
  text-transform: uppercase;
}

.margin-bt-1 {
  margin-bottom: 2rem;
}

.anchor {
  display: inline-block;
  visibility: hidden;
  position: relative;
  transform: translateY(-9rem);
}

.upBtn {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 6rem;
  height: auto;
  border: none;
  border-radius: 3px;
  background: transparent;
  z-index: 9999;
  transition: all .2s;
  display: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  &:focus {
    outline: 2px dotted var(--color-blue-effect);
  }

  &__svg {
    border-radius: 3px;
  }
}

.emptySpace {
  height: 100%;
  flex: 0 0 15%;
  background-color: transparent;
}