///// MIXINS

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin margin-top {
  margin-top: 5em;
}

@mixin padding-50 {
  padding: 5rem;
}

@mixin button {
  width: 24.8rem;
  height: 6.1rem;
  background-color: var(--color-bg-dark);
  color: var(--color-text-whitish);
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: -0.039rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-not-last {
  margin-right: 2.5rem;
  margin-bottom: 2rem;
}

button:hover {
  cursor: pointer;
}

@mixin button-link {
  @include link-reset;
  color: var(--color-text-whitish);
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: -0.039rem;
  line-height: 6.1rem;
  display: inline-block;
  height: 100%;
  padding: 0 0 0 3rem;
}

@mixin button-link-icon {
  margin-left: 1rem;
  vertical-align: middle;
}


@mixin localization-icons {
  text-align: center;
  color: var(--color-localization-icons);
  font-family: 'Alegreya', serif;
}



///// Classes

.title {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: var(--color-bg-dark);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.slogan {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 4rem;
  font-weight: 300;
  color: var(--color-text-slogan);
  text-transform: uppercase;
}

.margin-bt-1 {
  margin-bottom: 2rem;
}
