///// NAVBAR
.navbar {
  position: fixed;
  top: 0;
  height: 10rem;
  width: calc(100% - 10rem);
  max-width: 182rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #efefef;
  background-color: var(--color-bg-dark);
  padding: 1rem 0;
  z-index: 99;

  @media screen and (max-width: 650px) {
    height: 15rem;
  }

  @media screen and (max-width: 600px) {
    width: calc(100% - 4rem);
  }

  &__contact {
    display: flex;
    flex-direction: row;
    font-family: 'Alegreya', serif;
    font-size: 2.4rem;

    @media screen and (max-width: 1200px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 650px) {
      flex-direction: column;
      margin-right: 6rem;
    }

    @media screen and (max-width: 650px) {
      margin-right: 0;
    }

    &__item {

      &:not(:last-of-type) {
        margin-right: 5rem;

        @media screen and (max-width: 1200px) {
          margin-right: 3rem;
        }

        @media screen and (max-width: 650px) {
          margin: 1.5rem 0;
        }
      }
    }

    &__icon {
      padding-right: 1rem;
      transform: translateY(.5rem);

      @media screen and (max-width: 400px) {
        display: none;
      }
    }

    &__description {
      border-left: 1px solid var(--color-bg-grey);
      padding-left: 1rem;
      display: inline-block;

      @media screen and (max-width: 650px) {
        border: none;
      }

      & a {
        @include link-reset;
      }
    }
  }
}

.nav {
  margin-right: 3rem;

  @media screen and (max-width: 1111px) {
    max-width: 33%;
  }

  @media screen and (max-width: 900px) {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
  }

  &__item {

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  &__link {
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    padding: 0 .5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: 1.3rem;
    letter-spacing: .5px;
    position: relative;
    border-bottom: 1px solid transparent;
    transition: all .2s;

    &:hover {
      border-bottom: 2px solid var(--color-blue-effect);
    }
  }
}

/// HAMBUREGER MENU
//icon
.nav__hamburger {
  height: 5rem;
  padding: 0 .7rem;
  border-radius: 2px;
  transform: translateX(-1rem);
  display: none;
  transition: all .2s;

  @media screen and (max-width: 900px) {
    display: block;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-blue-effect);
  }
}

//modal
.hamburger {
  position: fixed;
  top: 10rem;
  left: 0;
  z-index: 9999;
  background-color: rgba(11, 9, 35, .9);
  color: var(--color-text-whitish);
  padding: 1rem 4rem 4rem 5rem;
  border-bottom-right-radius: 3px;
  display: none;

  @media screen and (min-width: 900px) {
    display: none;
  }

  @media screen and (max-width: 650px) {
    top: 15rem;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    height: 6rem;
    width: 30rem;
    margin: 1rem 0;
    padding: 0 2rem;
  }
  
  &__link {
    height: 6rem;
    width: 100%;
    font-size: 2rem;
    line-height: 6rem;
    padding-left: 5rem;
  }

  &__close {
    position: relative;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--color-text-whitish);
    padding: 2rem 4rem;
    border-radius: 2px;
    display: inline-block;
    transform: translateX(3rem);
    transition: all .2s;
    
    &:hover {
      cursor: pointer;
      background-color: var(--color-blue-effect);
    }
  }
}


///// LOGO
.logo {
  width: 18rem;
  height: 22.2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-bg-dark);
  z-index: 199;

  @media screen and (max-width: 1500px) {
    background-color: transparent;
    top: 10rem;
    left: 15vw;
    z-index: 2;
  }

  @media screen and (max-width: 1100px) {
    top: 7rem;
  }
   
  @media screen and (max-width: 900px) {
    top: 30rem;
  }

  @media screen and (max-width: 750px) {
    top: 25rem;
  }

  @media screen and (max-width: 450px) {
    top: 20rem;
    left: 12vw;
  }

  &__image {
    position: relative;
    @include center;

    @media screen and (max-width: 1100px) {
      width: 7vw;
    }
  }
}

///// WAVES grafika
.waves {
  position: absolute;
  left: -20rem;
  top: 67rem;
  z-index: 2;
  opacity: .8;
  display: none;

  @media screen and (max-width: 1200px) {
    opacity: 0;
  }
}

///// MAIN PART
/// Header
.header {
  width: 100%;
  margin-top: 10rem;
  position: relative;

  @media screen and (max-width: 650px) {
    margin-top: 15rem;
  }

  &__image {
    width: 100%;
    z-index: -1;
  }

  &__content {
    position: absolute;
    @include center;
    z-index: 10;
    color: var(--color-text-whitish);
    text-align: center;
  }

  &__title {
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  &__slogan {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    line-height: 1.1;
    margin-top: 1rem;
    width: 70rem;

    @media screen and (max-width: 900px) {
      font-size: 3vw;
      width: 80vw;
      margin-top: 1vw;
    }

    @media screen and (max-width: 600px) {
      font-size: 3vw;
      width: 90vw;
    }
  }

  &__button {
    @include button;
    margin: 4rem auto 0 auto;

    &__link__icon {
      @include button-link-icon;
    }
    
  }
}


/// LOKALIZACJA
.localization {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-bg-white);
  @include margin-top;
  @include padding-50;
  
  @media screen and (max-width: 1250px) {
    flex-direction: column;
    align-items: center;
  }
  
  &__content {
    width: 50%;
    min-height: 93rem;
    background-color: var(--color-bg-grey);
    padding: 0 5rem;
    
    @media screen and (max-width: 1250px) {
      width: 80%;
    }
    
    @media screen and (max-width: 900px) {
      width: 100%;
    }

    @media screen and (max-width: 600px) {
      padding: 0 2rem;
    }

    &__text {
      margin-top: 10rem;

      @media screen and (max-width: 700px) {
        margin-top: 5rem;
      }

      &__title {

      }

      &__slogan {

        @media screen and (max-width: 600px) {
          font-size: 2.4em;
        }
      }

      &__para {
        font-family: 'Alegreya', serif;
        font-size: 1.6rem;

        &:not(:last-of-type) {
          margin-bottom: 1.6rem;
        }
      }
    }

    &__icons {
      display: grid;
      grid-template-columns: repeat(4, auto);
      justify-items: center;
      align-items: center;

      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, auto);
      }

      &__item {
        @include localization-icons;
        align-self: end;
        margin-top: 3.2rem;

        &__icon {
          display: inline-block;
          margin-bottom: .8rem;

          @media screen and (max-width: 1300px) {
            width: 5rem;
          }
        }

        &__text--upper {
          font-size: 3rem;
          line-height: 2.6rem;
          margin-bottom: .8rem;

          @media screen and (max-width: 1300px) {
            font-size: 2rem;
          }
        }

        &__text--lower {
          font-size: 1.4rem;
          line-height: 2.4rem;

          @media screen and (max-width: 1300px) {
            font-size: 1.3rem;
          }
        }
      }
    }

    &__pagination {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 4rem auto;

      visibility: hidden;

      &__item {
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        background-color: #000;
        opacity: .2;
        margin: auto .6rem;

        &:first-of-type {
          opacity: 1;
        }
      }
    }
  
    &__buttons {
      margin: 1.6rem auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      &__button {
        @include button;
    
        &:not(:last-of-type) {
          @include button-not-last;
        }
    
        &__link {
    
          &__icon {
            @include button-link-icon;
          }
        }
      } 
    }
  }   

  &__picture {
    width: 50%;
    background-image: url(../images/lodka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: 1250px) {
      display: none;
    }
  }
}


/// INVESTMENT
.investment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-bg-white);
  @include margin-top;
  @include padding-50;

  @media screen and (max-width: 1100px) {
    display: block;
  }

  &__picture {
    width: 50%;
    background-image: url(../images/investycja.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    @media screen and (max-width: 1100px) {
      width: 100%;
      height: 30rem;
    }
  }

  &__content {
    width: 50%;
    min-height: 93rem;
    background-color: var(--color-bg-grey);
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 1460px) {
      justify-content: space-evenly;
    }

    @media screen and (max-width: 1100px) {
      width: 100%;
      min-height: unset;
      padding: 5rem;
    }

    @media screen and (max-width: 600px) {
      padding: 2rem;
    }

    &__text {

      @media screen and (max-width: 1460px) {
        margin-top: 3rem;
      }

      @media screen and (max-width: 1100px) {
        margin-bottom: 3rem;
      }

      @media screen and (max-width: 600px) {
        margin-bottom: 2rem;
      }

      &__title {
      }
      
      &__slogan {
        
        @media screen and (max-width: 1460px) {
          margin-bottom: 3rem;
          font-size: 2vw;
          line-height: 2.5vw;
        }

        @media screen and (max-width: 900px) {
          font-size: 2rem;
          line-height: 2.5rem;
        }

        @media screen and (max-width: 600px) {
          font-size: 1.8rem;
          line-height: 2.3rem;
        }
      }

      &__para {
        font-family: 'Alegreya', serif;
        font-size: 1.6rem;

        &:not(:last-of-type) {
          margin-bottom: 1.6rem;
        }
      }
    }
      
    &__buttons {
      margin: 1.6rem auto;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &__button {
        @include button;
        margin-top: 4rem;

        @media screen and (max-width: 1460px) {
          margin-top: 1rem;
        }
    
        &:not(:last-of-type) {
          @include button-not-last;
        }
    
        &__link {
          @include button-link;
    
          &__icon {
            @include button-link-icon;
          }
        }
      } 
    }
  }
}

/// GALLERY
.gallery {
  background-color: var(--color-bg-white);
  @include margin-top;
  padding-left: 5rem;
  padding-right: 5rem;

  @media screen and (max-width: 600px) {
    padding: 2rem;
  }

  &__images {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    flex-wrap: nowrap;

    @media screen and (max-width: 600px) {
      //flex-direction: column;
    }

    &__image {
      display: inline-block;
      height: 50rem;
      max-height: 60vh;
      width: auto;
      //width: 33.3333333%;
      //align-self: center;

      @media screen and (max-width: 900px) {
        width: 85%;
        max-width: 749px;
        height: auto;
      }

      @media screen and (max-width: 600px) {
        //width: 65%;
        //margin-top: 2.5rem;

      }

      @media screen and (max-width: 450px) {
        //width: 80%;
        //margin-top: 2rem;
      }
    }
  }

  &__title,
  &__arrows {
    padding: 3.7rem 0;
    text-align: center;

    @media screen and (max-width: 600px) {
      padding: 2rem 0;
    }
  }

  &__arrows {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    &__para {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: .5px;
    }
  }

  &__arrows--left,
  &__arrows__para {
    margin-right: 2rem;
  }
}


/// APARTMENTS
.apartments {
  background-color: var(--color-bg-white);
  @include margin-top;
  padding: 5rem;
  min-height: 93rem;

  @media screen and (max-width: 600px) {
    padding: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    @media screen and (max-width: 1700px) {
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: auto auto;
      grid-row-gap: 3rem;
    }

    @media screen and (max-width: 1100px) {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 2rem;
    }

    &__text {
      width: 30%;
      align-self: center;
      padding-right: 5rem;

      @media screen and (max-width: 1700px) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        width: 60%;
        margin: 0 auto 3rem auto;
        padding-right: 0;
      }

      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        margin-top: 3rem;
      }

      &__title {
        margin-bottom: 5rem;
        font-size: 2rem;

        @media screen and (max-width: 1700px) {
          text-align: center;
        }
      }

      &__para {
        font-family: 'Alegreya', serif;
        font-size: 1.6rem;

        &:not(:last-of-type) {
          margin-bottom: 1.6rem;
        }
      }
    }

    &__variants {
      width: 20%;
      min-width: 20rem;
      background-color: var(--color-bg-dark);
      padding: 5rem;

      @media screen and (max-width: 1700px) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 100%;
      }

      @media screen and (max-width: 1100px) {
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, max-content);
        justify-items: center;
      }

      @media screen and (max-width: 500px) {
        grid-template-columns: 100%;
        grid-template-rows: unset;
      }

      &__variant {
        color: var(--color-text-white);
        padding-top: 3rem;
        padding-bottom: 3rem;

        &:not(:last-of-type) {
          border-bottom: 1px solid #444;
        }
        
        @media screen and (max-width: 1100px) {
          border-bottom: 1px solid #444;
          text-align: center;
          margin: 1rem;
        }

        &:last-of-type {
          @media screen and (max-width: 500px) {
            border-bottom: none;
          }
        }

        &__caption {
          text-transform: uppercase;
          font-size: 1.3rem;
          line-height: 1rem;
        }

        &__measure {
          font-family: 'Alegreya', serif;
          font-size: 2.4rem;
          line-height: 2rem;

        }
      }

      .variantBtn {

        &:hover {
          cursor: pointer;
          color: var(--color-blue-effect);
        }
      }

      .variantSelected {
        color: var(--color-blue-effect);
      }
    }

    &__plan {
      width: 50%;
      background-color: var(--color-bg-white);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @media screen and (max-width: 1700px) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 100%;
      }

      @media screen and (max-width: 1100px) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      &__scheme {
        display: none;
        width: 100%;
        max-width: 750px;
        height: auto;
        margin: 0 auto;
      }

      // to show apartments schemes in Apartments > plan
      .showScheme {
        display: block;
      }
/*
      &__lokal  {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;

        @media screen and (max-width: 1100px) {
          padding: 1.5rem 0;
        }

        &__para {

          &:not(:last-of-type) {
            margin-right: 5rem;

            @media screen and (max-width: 500px) {
              margin-right: 2rem;
            }
          }
        }

        &__span--1 {
          text-transform: uppercase;
          font-size: 1.3rem;
          font-weight: 400;
          margin-right: 1rem;
        }

        &__span--2 {
          font-family: 'Alegreya', serif;
          font-size: 3rem;

          @media screen and (max-width: 500px) {
            font-size: 2.4rem;
          }
        }
      }

      &__scheme {
        display: flex;
        justify-content: center;

        @media screen and (max-width: 1100px) {
          padding: 1.5rem 0;
        }

        &__image {
          max-width: 100%;
          height: auto;
        }
      }

      &__lists {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        @media screen and (max-width: 1100px) {
          padding: 1.5rem 0;
        }

        @media screen and (max-width: 700px) {
          flex-direction: column;
          width: 90%;
          align-items: flex-end;
          justify-content: center;
        }
      }

      &__list--1 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 33%;

        @media screen and (max-width: 900px) {
          width: 40%;
        }

        @media screen and (max-width: 700px) {
          width: 60%;
        }

        @media screen and (max-width: 500px) {
          width: 90%;
        }
      }

      &__list--2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 33%;

        @media screen and (max-width: 900px) {
          width: 40%;
        }

        @media screen and (max-width: 700px) {
          width: 60%;
        }

        @media screen and (max-width: 500px) {
          width: 90%;
        }
      }

      &__listItem {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 900px) {
          margin-bottom: 1rem;
        }

        &--left {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
        }

        &--right {

        }

        &__number {
          font-size: 1.3rem;
          color: var(--color-bg-dark);
          font-weight: 700;
          margin-right: 1rem;
        }

        &__room {
          font-size: 1.3rem;
          color: var(--color-bg-dark);
          font-weight: 700;
          text-transform: uppercase;
          padding: 0 1rem;
          border-left: 1px solid #444;
        }

        &__measure {
          font-family: 'Alegreya', serif;
          font-size: 3rem;
          color: var(--color-bg-dark);
          float: right;
          transform: translateY(-.7rem);

          @media screen and (max-width: 900px) {
            font-size: 2.2rem;
          }
          
          &::after {
            content: "";
            display: table;
            clear: both;
          }
        }
      }
*/
      &__buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and (max-width: 1100px) {
          padding: 1.5rem 0;
        }

        &__button {
          @include button;

          &:first-child {
            @include button-not-last;
          }
        }
      }
    }
  }
}


/// CONTACT
.contact {
  background-color: var(--color-bg-white);
  @include margin-top;
  padding: 5rem;

  @media screen and (max-width: 600px) {
    padding: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (max-width: 1200px) {
      display: block;
    }

    &__map {
      width: 50%;
      background-image: url(../images/mapa.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (max-width: 1200px) {
        width: 100%;
        height: 60vw;
      }
    }

    &__text {
      width: 50%;
      padding: 5rem;

      @media screen and (max-width: 1200px) {
        width: 66%;
      }

      @media screen and (max-width: 1000px) {
        width: 80%;
      }

      @media screen and (max-width: 800px) {
        width: 90%;
      }

      @media screen and (max-width: 600px) {
        padding: 2rem;
        width: 100%;
      }

      &__caption {
        font-family: 'Alegreya', serif;
        font-size: 3rem;
        line-height: 3rem;
        color: var(--color-bg-dark);
      }

      &__form {
        margin-top: 5rem;

        &__item {
          display: flex;
          flex-direction: column;
        }

        &__label {
          text-transform: uppercase;
          font-size: 1rem;
          letter-spacing: .5px;
          font-weight: 400;
          color: #666;
          margin-bottom: .5rem;
        }

        &__input {
          font-family: 'Merriweather', serif;
          font-size: 1.6rem;
          margin-bottom: 1.6rem;
          border: none;
          border-bottom: 1px solid #ddd;
          padding-bottom: .5em;
        }

        &__agreement {

          &__para {
            font-family: 'Merriweather', serif;
            font-size: 1rem;
            margin-top: 1rem;

            &__link {
              color: var(--color-bg-dark);
            }
          }
        }

        &__button {
          @include button;
          width: 16rem;
          margin-top: 3.2rem;

          &__arrow {
            @include button-link-icon;
          }
        }
      }
    }
  }
}

///// FOOTER
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  @include margin-top;
  height: 15rem;

  @media screen and (max-width: 600px) {
    margin-top: 4rem;
  }

  &__box--left {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 600px) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__box--right {
  }

  &__linkLogo {
    margin-right: 4rem;
    transform: translateY(-1.2rem);
  }

  &__copyright {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    color: #aaa;
    letter-spacing: .6px;
  }

  &__author {

    &__created {
      font-family: 'Merriweather', serif;
      font-size: 1.2rem;
      color: #aaa;
      letter-spacing: .6px;
      margin-right: 1rem;
    }

    &__skot {
      font-size: 1.3rem;
      text-transform: uppercase;
      color: var(--color-text-whitish);
    }
  }
}